.day {
    display: grid;
    justify-items: center;
    align-content: start;
    cursor: pointer;

    .status-indicator {

    }

    .day-of-the-week {}

    .date {}

    .today-indicator {
        font-size: var(--fz-700);
        color: var(--color-primary);

    }

    &.highlight  {
        color: var(--color-primary);

    }

}