.header {

    display: grid;
    grid-template-areas: "menuIcon greeting" "menuIcon status";
    grid-template-columns: auto 1fr;
    column-gap: 1rem;

    .menuIcon{
        grid-area: menuIcon;
        font-size: var(--fz-700);
        align-self: center;

    }

    .greeting{
        grid-area: greeting;

    }

    .status{
        grid-area: status;

    }
}